# source: https://github.com/pressly/goose#environment-variables
# replace dbstring and db_url
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://admin:admin@localhost:5432/admin_db
GOOSE_MIGRATION_DIR=./sql/schema
DB_URL=YOUR_CONNECTION_STRING_HERE?sslmode=disable
JWT-SECRET=base64string
